@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --light-grey: #dce1e7;
    --cream: #f9f8f6;
    --whip: #ecccb4;
    --heavy-cream: #ce8b5c;
    --caramel: #a85d30;
    --mocha: #421908;
}


* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}


html, body, section, .page {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: var(--mocha);
    overflow: hidden;
}

.section {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* NAV START */
.icon {
    color: var(--mocha);
    font-size: 32px;
    display: flex;
    flex-direction: column;
}

.icon .link-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transform: translateY(-20px);
}

.icon:hover .link-text {
    opacity: 1;
    transform: translateY(10px);
}
  
ul .icon:hover {
    opacity: 0.6;
}
  
#section2:target ul .icon,
#section3:target ul .icon,
#section4:target ul .icon {
    transform: scale(.6); 
    transition-delay: .25s;
}
  
#section2:target #second {
    transform: scale(1.2) !important;
}
  
#section3:target #third {
    transform: scale(1.2) !important;
}
  
#section4:target #fourth {
    transform: scale(1.2) !important;
}
      
ul li {
    margin: 30px 0;  
    padding: 0px 15px;  
}
  
a {
    text-decoration: none;
}

/* NAV END */
  
.page {
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
  
#p1 {
    left: 0;
}

.initial {
    background: var(--cream);
}

.initial .header{
    font-size: 32px;
    opacity: 0;
    visibility: hidden;

    animation-name: fadeIn, appear;
    animation-duration: 1s, 0.1s;
    animation-delay: 3.3s, 3s;
    animation-timing-function: ease-in-out, linear;
    animation-fill-mode: forwards, forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(150px);
    } 
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
  
@keyframes appear {
    to {
        visibility: visible;
    }
}

#p2 {
    left: 100%;
}

.showcase {
    background: var(--whip);
}

.showcase .header {
    text-align: center;
    font-size: 32px;
    line-height: 1.3;
}
  
#p3 {
    left: 200%;
    background: var(--heavy-cream);
}
  
#p4 {
    left: 300%;
    background: var(--caramel);
}

#section1:target .page#p1 {
      transform: translateX(0);
}
#section2:target .page#p2 {
      transform: translateX(-90%);
}
#section3:target .page#p3 {
      transform: translateX(-190%);
}
#section4:target .page#p4 {
      transform: translateX(-290%);
}
  
#section2:target .page#p1 .initial, 
#section3:target .page#p1 .initial,
#section4:target .page#p1 .initial {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
  
  
@media only screen and (min-width: 950px) {
    
    .nav-section {
        height: 100%;
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
      
    ul {
        position: fixed; 
        z-index: 1;
        left: 0;
        width: 10%;
        padding: 0;
        text-align: center;
    }

    .nav {
        opacity: 0;
        animation-name: move;
        animation-duration: 1s;
        animation-delay: 3.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes move {
        0% {
            opacity: 0;
            left: -150px;
        } 
        100% {
            opacity: 1;
            left: 0px;
        }
    }

}

@media only screen and (max-width: 950px) {

    .nav-section {
        height: 100%;
        width: 100%;
    }

    ul {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        z-index: 1;
        bottom: 0;
        width: 100%;
        height: 10%;
        padding: 0;
        padding-bottom: 20px;
        text-align: center;
    }

    .nav {
        opacity: 0;
        animation-name: move;
        animation-duration: 1s;
        animation-delay: 3.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes move {
        0% {
            opacity: 0;
            bottom: -150px;        
        } 
        100% {
            opacity: 1;
            bottom: 0px;
        }
    }

}