@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --light-grey: #dce1e7;
    --cream: #f9f8f6;
    --whip: #ecccb4;
    --heavy-cream: #ce8b5c;
    --caramel: #a85d30;
    --mocha: #421908;
}


* {
    transition: all 500ms ease-out;
    -webkit-transition: all 500ms ease-out;
}
  
html, body, section, .page {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    -webkit-transition: all 1s cubic-bezier(.5, -0.005, 0.2, 1) !important;
    color: var(--mocha);
    overflow: hidden;
}
  
section {
    width:400%;  
}
  
.page {
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.initial {
    background: var(--cream);
}

.showcase .header {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    left: 0;
    width: 270px;
    height: 170px;
    margin: auto;
    text-align: center;
    font-size: 32px;
    transform: translateX(360%);
    line-height: 1.3;
}
  
#p1 {
    left: 0;
}
  
#p2 {
    left: 100%;
    background: var(--whip);
}
  
#p3 {
    left: 200%;
    background: var(--heavy-cream);
}
  
#p4 {
    left: 300%;
    background: var(--caramel);
}
  
ul {
   position: fixed; 
   z-index: 1;
}

#section1:target .page#p1 {
      transform: translateX(0);
}
#section2:target .page#p2 {
      transform: translateX(-90%);
}
#section3:target .page#p3 {
      transform: translateX(-190%);
}
#section4:target .page#p4 {
      transform: translateX(-290%);
}
  
#section2:target .page#p1 .initial, 
#section3:target .page#p1 .initial,
#section4:target .page#p1 .initial {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
  
.icon {
    color: var(--mocha);
    font-size: 32px;
    display: block;
}
  
ul .icon:hover {
    opacity: 0.6;
}
  
#p1 .icon .title {
    margin-bottom: 20px;
}
  
#section2:target ul .icon,
#section3:target ul .icon,
#section4:target ul .icon {
    transform: scale(.6); 
    transition-delay: .25s;
}
  
#section2:target #second {
    transform: scale(1.2) !important;
}
  
#section3:target #third {
    transform: scale(1.2) !important;
}
  
#section4:target #fourth {
    transform: scale(1.2) !important;
}
  
ul {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -150px;
    /*right: 0;*/
    margin: auto;
    height: 280px;
    width: 10%;
    padding: 0;
    text-align: center;
}
  
ul li {
    margin: 30px 0;
}
  
a {
    text-decoration: none;
    font-family: open sans, sans-serif;
}

/* use these to delay the reveal of divs in each page */
#section2:target .page#p2 .header {
    transform: translateX(0) !important;
    transition-delay: 0.3s;
}
  
#section3:target .page#p3 .container {
    transform: translateX(0) !important;
    transition-delay: 1s;
}
  
#section4:target .page#p4 .container {
    transform: translateX(0) !important;
    transition-delay: 1s;
}
  
  
  
  